.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
}

.modal__opened {
  visibility: visible;
  opacity: 1;
}

.modal__content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.modal__image {
  width: 100%;
  height: auto;
}

.modal__footer {
  margin-top: 10px;
}

.modal__caption {
  font-size: 18px;
}

.modal__weather {
  font-size: 14px;
}
